body {
    margin: 0;
    background-color: whitesmoke;

}

.title {
    color: #497174;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    margin:25px 50px 10px 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 3.5em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
}
.container {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    
}


.speech-bubble {
    background-color: #EB6440;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 20px 30px;
    min-height: 40px;
    width: 700px;
    border-radius: 20px;
    box-shadow: 5px 5px 0 #00000035;
    position: relative;
    box-sizing: content-box;
    
}

.speech-bubble::after {
    content: "";
    position: absolute;
    border: 0.5em solid transparent;
    border-top-color: #EB6440;
    border-right-color: #EB6440;
    right: 100%;
    bottom: 15%;
    transform: skewY(20deg);
    transform-origin: 100% 100%;

}
.text {
    color: #eff5f5;
    font-size: 30px;
    
}

.kanye-quote {
    font-family: 'Courgette', cursive;
    color: #eff5f5;
    font-size: 30px;
}

.quote {
    font-size: 30px;
    color: #eff5f5;
}

.kanye-btn {
    margin-right: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn:active {
   margin: 3px -3px -3px 3px;
}

@media screen and (max-width: 768px) {
    body {
        height: 100vh;
        overflow: hidden;
        padding: 0 30px;
    }
    .title {
        font-size: 2.5em;
    }
    .container {
        flex-direction: column-reverse;
    }

    .speech-bubble {
        min-height: 40px;
        width: 280px;
        margin:0 30px 50px;
   
    }
    
    .speech-bubble::after {
        content: "";
        position: absolute;
        border: 0.5em solid transparent;
        border-top-color: #EB6440;
        border-right-color: #EB6440;
        top: 100%;
        right: 80%;
        
        transform: skewX(30deg);
        transform-origin: 100% 100%;  
    }

    .kanye-quote, .quote, .text {
        font-size: 20px;
    }

    

}